html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 0.4rem;
  border-radius: 0.5rem;
  background-color: hsl(0, 0%, 65%);
}

::-webkit-scrollbar-thumb {
  border-radius: 0.5rem;
  background-color: gray;
}

::-webkit-scrollbar-thumb:hover {
  background-color: hsl(0, 0%, 45%);
}
/* maaz */
h1::selection {
  background: hsla(113, 57%, 60%, 0.733);
  color: var(--black-color);
}

span::selection {
  background: hsla(113, 57%, 80%, 0.733);
  color: hsla(113, 57%, 10%, 0.733);
}

li::selection {
  background: hsla(0, 21%, 95%, 0.798);
  color: var(--black-color);
}

p::selection {
  background: hsla(113, 57%, 80%, 0.733);
  color: hsla(113, 57%, 10%, 0.733);
}
